@model Venonchorrocast.Models.Episodio

@{
    ViewBag.Title = "Criar Episódio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 class="title-create">Cadastrar um novo episódio</h2>

<script type="text/javascript">
    function fileCheck(obj) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
        }
    }
</script>

@using (Html.BeginForm("Create", "Episodios", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    if (String.Equals(@Session["nomeUsuarioLogado"], "administration"))
    {

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Descriçao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Descriçao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Descriçao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Duraçao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Duraçao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Duraçao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Arte, new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    <input type="file" class="form-control" name="ImageData" id="ImageData" onchange="fileCheck(this);" />
                    @Html.ValidationMessageFor(model => model.Arte)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Participantes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Participantes, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Participantes, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-10 btn-create">
                    <input type="submit" value="Criar" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
    else
    {
        <h2 class="pd">Você não possui acesso à essa página, favor voltar à pagina inicial!</h2>
    }
}

<div class="pt-3">
    <a href="@Url.Action("Index", "Home")" class="btn btn-warning">
        <i class="bi-arrow-left"></i>
        Voltar
    </a>
</div>
